@import '~bootstrap/scss/bootstrap';

.nav-active {
    color: blue;
    border-bottom: solid 2px blue;
}

.nav-link {
    color: black;
    transform: translateX(-.5rem);
}

a:hover,
.nav-link:hover {
    color: blue;
}

header {
    nav {
        div>a {
            color: black;
            padding-bottom: 2.5rem;
        }
    }

}

.jumbotron {
    height: 400px;
    background-image: url(../assets/images/jumbotron.jpg);
    background-position-y: top;
    background-size: cover;
}

main {
    background-color: rgb(28, 28, 28);
    position: relative;

    .current {
        color: white;
        background-color: blue;
        padding: .5rem;
        position: absolute;
        top: - 2rem;
        left: 13rem;
    }
}