@import '~bootstrap/scss/bootstrap';

.nav-active {
    color: blue;
    border-bottom: solid 2px blue;
}

.nav-link {
    color: black;
    transform: translateX(-.5rem);
}

a:hover,
.nav-link:hover {
    color: blue;
}

header {
    nav {
        div>a {
            color: black;
            padding-bottom: 2.5rem;
        }
    }





}

.jumbotron {
    height: 400px;
    background-image: url(../assets/images/jumbotron.jpg);
    background-position-y: top;
    background-size: cover;
}

main {
    background-color: rgb(28, 28, 28);
    position: relative;

    .comic-show-top-cover>img {
        position: absolute;
        top: -14rem;
        left: 20rem;

        height: 300px;
        z-index: 20;

    }

    .bottom-jumbo-banner {
        height: 100px;
        width: 100%;
        background-color: blue;
        transform: translateY(-2rem);
    }

    .body-info {
        background-color: white;
        transform: translateY(-3rem);
        height: 700px;
        width: 100vw;
    }

    .availability {
        background-color: rgb(0, 151, 0);
        line-height: 3rem;
        color: greenyellow;
        border: 1px solid black;

        .left {
            //border: 1px solid black;
            line-height: 20px;
            flex-direction: row;
            padding-left: 2rem;
            padding-right: 3rem;
            margin-right: 1rem;

        }



    }


    .availability>.right {
        padding: 0 2rem;
        border-left: 1px solid black;



        a {
            color: white;
        }


    }

    .dropdown-menu>.dropdown-item {
        color: black;
    }

    .availaible-info {
        text-align: end;
        // border: 1px solid black;

    }

    .green-banner-text {
        // border: 1px solid black;
        // justify-content: space-between;
        flex-grow: 1;
    }

    .current {
        color: white;
        background-color: blue;
        padding: .5rem;
        position: absolute;
        top: - 2rem;
        left: 13rem;
    }

    button {
        transform: translateY(1.5rem);
    }

    .main-bottom {
        background-color: rgb(44, 128, 238);
        padding: 1rem 0;
        z-index: 100;

        ul>li {
            margin-right: 1rem;

            a {
                text-decoration: none;
                color: white;
                margin-left: .5rem;
            }

            a:hover {
                color: blue;
                background-color: white;
            }
        }

    }




}

footer {
    height: 400px;
    background-image: url('../assets/images/footer-bg.jpg');

    .row {
        display: flex;
        flex-direction: row;

        .left {
            padding: 3rem 0;

            ul>li {
                color: white;
                line-height: .5rem;

            }

            .li-item {
                color: gray;
            }

            img {
                height: 500px;
                transform: translateY(-8rem);
                z-index: 1;
                margin-left: 16rem;
            }
        }


    }

}